:root {
  --main-color: #0e7490;
  --sec-color: #083344;
  --white: #eef2ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.library {
  background-color: var(--sec-color);
  height: calc(100vh);
  font-family: "Silkscreen", sans-serif;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
